<div ng-controller="UsersCtrl">
<div class="row">
<div class="col-md-6">
<form role="form" ng-hide="alreadyIn()" ng-submit="saveNewUser()">
  <legend>Add Me</legend>
  <div class="form-group input-group">
    <input type="text" ng-model="newUser.name" class="form-control"  placeholder="Your Name">
    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Add</button>
    </span>
  </div>
</form>
</div>
</div>
<div class="row">
<div class="filter form-group col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
  <input type="search" class="form-control filter-control" placeholder="search users" ng-model="search" />
</div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-3" ng-repeat="(id, user) in users | firebaseLikeFilter: search">
    <div class="thumbnail user-thumbnail">
      <img class="img-circle" gravatar-src="'{{ user.email }}'" gravatar-size="150" gravatar-default="mm" alt="{{ user.name }}">
      <div class="caption">
        <h3>{{ user.name }}</h3>
        <p>{{ user.email }}</p>
        <p ng-show="isMe(user)">
          <button ng-click="removeUser(id)" class="btn btn-danger btn-block">remove me</button>
        </p>
      </div>
    </div>
  </div>
</div>
</div>