<div ng-controller="AssignmentsCtrl">
  <h2>Assignments</h2>
  <label>for Week</label>
  <button ng-click="incrementWeek()">+</button><input type="number" ng-model="week" /><button ng-click="decrementWeek()">-</button>
  <form ng-submit="saveNewAssignment()">
    <legend>Create a new Assignmet Task</legend>
    <label for="assignmentName">Name</label>
    <input type="text" ng-model="newAssignment.name"/>
    <label for="assignmentProject"></label>
    <select id="assignmentProject" ng-model="newAssignment.project" ng-options="k as v.name for (k, v) in projects"></select>
    <label for="assignmentDay"></label>
    <select id="assignmentDay" ng-model="newAssignment.day" ng-options="day for day in days"></select>
    <label for="assignmentUtilization">Utilization (in %)</label>
    <input type="range" ng-model="newAssignment.utilization">
    <input type="text" ng-model="newAssignment.utilization">
    <button type="submit">save</button>
  </form>
  {{ newAssignment }}

  {{ assignments }}
</div>